altgraph==0.17.4
attrs==23.1.0
autopep8==2.0.4
beautifulsoup4==4.12.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
distlib==0.3.8
filelock==3.13.1
h11==0.14.0
idna==3.6
importlib-metadata==6.8.0
numpy==1.26.4
outcome==1.3.0.post0
packaging==23.2
pefile==2023.2.7
pipenv==2023.11.15
platformdirs==4.0.0
pycodestyle==2.11.1
pycparser==2.21
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2023.10
PySocks==1.7.1
pywin32-ctypes==0.2.2
requests==2.31.0
selenium==4.15.2
setuptools==69.0.2
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
tomli==2.0.1
trio==0.23.1
trio-websocket==0.11.1
urllib3==2.1.0
virtualenv==20.25.0
wsproto==1.2.0
yapf==0.40.2
zipp==3.17.0
